@page "/"

@page "/sudoku"
@using System.Text.Json

<h3>Sudoku</h3>

<div>
    <h3>Enter Dimensions</h3>
    <input type="number" name="rows_size" id="rows_size" placeholder="Rows" @bind-value:get="_sudokuUi.RowsBlock" @bind-value:set='(value) => this.OnChangeGridSize(value, "rows_size")' @bind-value:event="onchange" />
    <input type="number" name="cols_size" id="cols_size" placeholder="Cols" @bind:get="_sudokuUi.ColsBlock" @bind:set='async (value) => await this.OnChangeGridSize(value, "cols_size")' @bind:event="oninput" />

    <br />
    <br />

    <button class="btn btn-primary" style='visibility: @(_sudokuUi.GridUpdated ? "visible" : "hidden");' @onclick="OnChangeGrid">Reset Data &amp; Update Grid ?</button>

    <br />
    <br />

</div>

<div>
    @(JsonSerializer.Serialize(_sudokuUi.Positions))
</div>
<br />
<br />
<div>
    @(JsonSerializer.Serialize(_sudokuGame.GetPositionsCloned()))
</div>

<div style="@_sudokuUi.GetSodukuStyle()">
    @foreach (var item in _sudokuUi.Positions)
    {
        string cellInputId = item.Key + ":I";
        <div style="@_sudokuUi.GetCellStyle(item.Key)" id="@item.Key">
            @(item.Key + "-" + _sudokuUi.Positions[item.Key].CellValue)
            <input type="number" style="overflow : hidden; width : 100%;" id="@cellInputId"
                   min="0" max="@(Math.Sqrt(_sudokuUi.Positions.Count))" step="1"
                   @bind-value:get="item.Value.CellValue" @bind-value:set='(value) => this.OnChangeCellInput(value, item.Key)' @bind-value:event="onchange" />
            <br />
            @for (int m = 0; m < Math.Sqrt(_sudokuUi.Positions.Count); m++)
            {
                <button style="font-size: 0.5em;" id="@(item.Key+":H"+(m+1).ToString())">@(m + 1)</button>
            }
        </div>
    }
</div>

@code {

}
