@page "/counter"


<div style="@GetSodukuStyle()">

    @for (int i = 0; i < rows; i++)
    {
        <div style="@GetRowStyle()">

            @for (int j = 0; j < GetNoOfCols(); j++)
            {
                <div style="@GetBlockStyle()" id="@GetBlockId(j, i)">

                    @for(int k = 0; k < rows; k++)
                    {
                        @for(int l = 0; l < GetNoOfCols(); l++)
                        {
                            <div style="@GetCellStyle()">
                                @($"[{GetBlockId(j, i)}]{k},{l}")
                            </div>
                        }
                    }

                </div>
            }

        </div>
    }

</div>


@code {
    int rows = 2;
    int sodukuSizeInPx = 297*3*2;

    int GetNoOfCols() => rows;

    string GetSodukuStyle() => $"width: {sodukuSizeInPx}px;height: {sodukuSizeInPx}px;background-color: orange";
    string GetRowStyle() => $"width: {sodukuSizeInPx / GetNoOfCols()}px;height: {sodukuSizeInPx / rows}px;float:left;";
    string GetBlockStyle() => $"width: {sodukuSizeInPx / GetNoOfCols()}px;height: {sodukuSizeInPx / rows}px;float:left;";
    string GetBlockId(int x, int y) => $"BOX_ID[{x},{y}]";
    string GetCellStyle() => $"width: {sodukuSizeInPx / GetNoOfCols() / GetNoOfCols()}px;height: {sodukuSizeInPx / rows / rows}px;float:left;border: solid;";

}
