@page "/"
@page "/soduku"

@using System.Diagnostics
@using System.Timers;
@using BlazorWasmGamesProj.Code
@using System.Text.Json

@implements IDisposable

<h1>Soduku</h1>
<br />

<div>
    <h3>Enter Dimensions</h3>
    <input type="number" name="rows_size" @bind=@rowsBlock placeholder="Rows" @bind:after="ValidateAndSodukuResize" />
    <input type="number" name="cols_size" @bind=@colsBlock placeholder="Columns" @bind:after="ValidateAndSodukuResize" />
</div>

<br />

<button class="btn btn-primary" @onclick="@(async (args) => await SaveNSolve())">Save and Solve</button>


<br />
<br />

<div style="@GetSodukuStyle()">
    @foreach (var item in _sodukuGame.Positions)
    {
        <div class="@(item.Key==highlightCell ? "highlight" : "")" style="@GetCellStyle(item.Key==highlightCell ? null : item.Key)" id="@item.Key">
            @item.Key
            <input type="number" style="overflow : hidden; width : 100%;" id="@(item.Key+":L")"
                min="0" max="@(rowsBlock * colsBlock * rowsBlock * colsBlock)" step="1"
                value="@item.Value.CellValue.Val"
                @onchange="@(e => {item.Value.CellValue.Val = (e?.Value?.ToString() ?? ""); Console.WriteLine(JsonSerializer.Serialize(item));})" />
            <br />
            @for (int m = 0; m < rowsBlock * colsBlock; m++)
            {
                <button style="font-size: 0.5em;" id="@(item.Key+":H"+(m+1).ToString())">@(m + 1)</button>
            }
        </div>
    }
</div>

<br>
<button @onclick="( async () => await Debug1())" style="display: none;">Debug1</button>
<button @onclick="( async () => await Debug2())">Debug2</button>
<br />


@code {

    async Task Test(string arg)
    {
        //_cellIdValueField[1] = arg; 
        await Task.FromResult(0);
    }

}