@page "/"
@page "/soduku"

<h3>Soduku</h3>

<div>
    <input type="text" name="rows_size" @bind=@rows placeholder="Rows" />
    <input type="text" name="cols_size" @bind=@cols placeholder="Columns" />
</div>


<div style="height:0;width:50%;padding-bottom:50%;background-color:burlywood">

    <table>
        @for (int i = 0; i < rows; i++)
        {
            <tr>
                @for (int j = 0; j < cols; j++)
                {
                    <td style="@GetStyle()" nopadding>
@*                         <div id="@GetMainId(i, j)" style="@GetStyle2()" nopadding>
                            <input type="text" value="X" style="@GetStyle3()" nopadding />
                            <br />
                            @for(int k = 0; k < Math.Max(rows,cols); k++)
                            {
                                <button>@k</button>
                            }
                        </div> *@
                    </td>
                }
            </tr>
        }
    </table>

</div>


@code {
    int rows = 4;
    int cols = 4;

    string GetCellHeight() => (100 / rows).ToString();
    string GetCellWidth() => (100 / cols).ToString();
//    string GetCellSize() => (100 / Math.Max(cols, rows)).ToString();

    string GetStyle() => "width:" + GetCellWidth() + "%;padding-bottom:" + GetCellHeight() + "%;";


    //string GetStyle2() => "width:" + GetCellSize() + "%; display:table";
    string GetStyle2() => ""; // "display:flex;flex-direction:row";
    string GetStyle3() => "width:50%;overflow-wrap: break-word;";

    string GetMainId(int row, int col) => $"SodukuMainCell[{row},{col}]";
}
