@* @page "/" *@
@page "/soduku"

@using System.Diagnostics
@using System.Timers;
@using BlazorWasmGamesProj.Code

@implements IDisposable

<h1>Soduku</h1>
<br />

<div>
    <h3>Enter Dimensions</h3>
    <input type="number" name="rows_size" @bind=@rowsBlock placeholder="Rows" @bind:after="ValidateAndSodukuResize" />
    <input type="number" name="cols_size" @bind=@colsBlock placeholder="Columns" @bind:after="ValidateAndSodukuResize" />
</div>

<br />

<button class="btn btn-primary" @onclick="@(async (args) => await SaveNSolve())">Save and Solve</button>


<br />
<br />

<div style="@GetSodukuStyle()">
    @for (int i = 0; i < _sodukuGame.SuHoriFullFlattened.Count; i++)
    {
        var cellId = _sodukuGame.SuHoriFullFlattened[i];
        int k = i;
        <div class="@(cellId==highlightCell ? "highlight" : "")" style="@GetCellStyle(cellId==highlightCell ? null : cellId)" id="@cellId">
            @cellId
            <input type="text" style="overflow : hidden; width : 100%;" id="@(cellId+":L")" min="0" max="@(rowsBlock * colsBlock)" step="1" value="@cellIdValueField[k]" @onchange="@((args) => AddMove(args, @cellId))" />
            <br />
            @for (int m = 0; m < rowsBlock * colsBlock; m++)
            {
                <button style="font-size: 0.5em;" id="@(cellId+":H"+(m+1).ToString())">@(m + 1)</button>
            }
        </div>
    }
</div>

<br>
<button @onclick="( async () => await Debug1())" style="display: none;">Debug1</button>
<button @onclick="( async () => await Debug2())">Debug2</button>
<br />


@code {

    async Task Test(string arg)
    {
        cellIdValueField[1] = arg; 
        await Task.FromResult(0);
    }

}