@page "/"
@page "/soduku"

<h3>Soduku</h3>

<div>
    <input type="text" name="rows_size" @bind=@rows placeholder="Rows" />
    <input type="text" name="cols_size" @bind=@cols placeholder="Columns" />
</div>


<div style="height:0;width:50%;padding-bottom:50%;background-color:burlywood">

    <table>
        @for (int i = 0; i < rows; i++)
        {
            <tr>
                @for (int j = 0; j < cols; j++)
                {
                    <td style="@GetStyle()">
                        <div id="@GetMainId(i, j)" style="@GetStyle2()" nopadding>
                            <input type="text" value="X" style="@GetStyle3()" nopadding />
                            <br />
                            <label style="@GetStyle3()" nopadding>123456789</label>
                        </div>
                    </td>
                }
            </tr>
        }
    </table>

</div>


@code {
    int rows = 4;
    int cols = 4;

    string GetCellSize() => (100 / Math.Max(cols, rows)).ToString();

    string GetStyle() => "width:" + GetCellSize() + "%;padding-bottom:" + GetCellSize() + "%;";


    //string GetStyle2() => "width:" + GetCellSize() + "%; display:table";
    string GetStyle2() => ""; // "display:flex;flex-direction:row";
    string GetStyle3() => "width:" + GetCellSize() + "%;overflow-wrap: break-word;";

    string GetMainId(int row, int col) => $"SodukuMainCell[{row},{col}]";
}
